body {
    font-family: system-ui;
    background-color: #222;
    color: #ddd;
}
table {
    width: 100%;
}
tbody{
    text-align: right;
}
td{
    text-align: right;
    border:1px dotted #666;
}

.comando {
    background-color: #222;
    width: 100%;
    display:none;
    visibility:hidden;
}

.showme
{
    display:inline;
    visibility:visible;
}