body {
    font-family: system-ui;
    background-color: darkslategrey;
    color: white;
}
table {
    width: 100%;
}
tbody{
    text-align: right;
}
td{
    text-align: right;
    border:1px dotted gray;
}

.comando {
    background-color: darkslategrey;
    width: 100%;
    display:none;
    visibility:hidden;
}

.showme
{
    display:inline;
    visibility:visible;
}