body {
    font-family: system-ui;
    background-color: #87cefa;
    color: black;
}
table {
    width: 100%;
}
tbody{
    text-align: right;
}
td{
    text-align: right;
    border:1px dotted black;
}

.comando {
    background-color: #87cefa;
    width: 100%;
    display:none;
    visibility:hidden;
}

.showme
{
    display:inline;
    visibility:visible;
}